.icon-message-container {
    width:100%;
    height:100%;
    padding-top:5%;
}

.icon-message-container .icon {
    font-size: 60px;
    color: #8c8c8c
}

.icon-message-container .icon-message{
    width:inherit;
    font-size:20px;
    text-align:center;
    color:#8c8c8c
}